{{- if .Values.namespace.create }}
{{- $namespaceName := include "lynq-operator.namespace" . }}
{{- $existingNamespace := lookup "v1" "Namespace" "" $namespaceName }}
{{- if not $existingNamespace }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ $namespaceName }}
  labels:
    {{- include "lynq-operator.labels" . | nindent 4 }}
  {{- with include "lynq-operator.annotations" . }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
