apiVersion: v1
kind: Secret
metadata:
  name: mysql-credentials
  namespace: default
type: Opaque
stringData:
  password: changeme

---
apiVersion: operator.lynq.sh/v1
kind: LynqHub
metadata:
  labels:
    app.kubernetes.io/name: lynq
    app.kubernetes.io/managed-by: kustomize
  name: sample-hub
  namespace: default
spec:
  source:
    type: mysql
    syncInterval: 30s
    mysql:
      host: mysql.default.svc.cluster.local
      port: 3306
      username: root
      passwordRef:
        name: mysql-credentials
        key: password
      database: nodes
      table: nodes
  valueMappings:
    uid: id
    # DEPRECATED: hostOrUrl is deprecated since v1.1.11 and will be removed in v1.3.0
    # Use extraValueMappings + toHost() function instead (see example below)
    hostOrUrl: url
    activate: isActive
  extraValueMappings:
    # Recommended: Use extraValueMappings for URL/host fields
    # Example: nodeUrl: url
    # Then in template: {{ .nodeUrl | toHost }}
    deployImage: image
    planId: plan_id
    replicas: replica_count
